body{
    width: 980px;
    padding-right: 50px;
    padding-left: 50px;
    margin: auto;
    font-size: 16px;
    font-family: Sylfaen,sans-serif;
}
#menu{
    width: 980px;
    /*float: right;*/
    font-size: 18px;
}
#menu ul{
    list-style-type: none;
    float: right;

}
#menu li{
    float: left;
    padding-left: 55px;
}
#menu a{
    text-decoration: none;
    font-weight: bold;
    color: #DD356E;
}
.right{
    width: 600px;
    display: inline-block;
    padding-top: 130px;
    text-align: justify;
    float: right;
}
.right p{
    color: dimgrey;
}
.left p{
    color: dimgrey;
}
.left{
    width: 550px;
    display: inline-block;
    padding-top: 130px;
    text-align: justify;
    float: left;
}
.title{
    text-align: center;
    font-size: 35px;
    /*color: #DD356E;*/
}
.image img{
    width: 360px;
    float: left;
    display: inline-block;
    padding-top: 70px;
}
::selection{
    background-color: #DD356E;
    color: white;
}
#menu li:hover{
     text-shadow: 2px 8px 6px rgba(0,0,0,0.2);
}
.selected{
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2);
}
footer p{
    position: fixed;
    bottom: 0;
    width: 980px;
    /*display: inline-block;*/
    margin-top: -10px;
    text-align: center;
    color: dimgrey;
}
hr{
    position: fixed;
    width: 980px;
    bottom: 40px;
}
.skills{
    width: 360px;
    display: inline-block;
    padding-top: 130px;
    text-align: justify;
    float: right;
}
.skills p{
    color: dimgrey;
}
.container {
    width: 100%;
    background-color: #ddd;
}

.skill-bar {
    text-align: right;
    padding: 1px;
    color: white;
}

.html-css {
    width: 100%;
    background-color: #04AA6D;
}
.delphi {
    width: 75%;
    background-color: #FFA500;
}
.c {
    width: 85%;
    background-color: #DD356E;
}
.c2 {
    width: 90%;
    background-color: #2e536f;
}
.c-form-right{
    width: 501px;
    padding-top: 70px;
    text-align: justify;
    float: right;
}
.c-form-right p{
    color: dimgrey;
}
c-form-left{
    width: 479px;
    float: left;
}
a{
    text-decoration: none;
    color: #DD356E;
}
a:hover{
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2);
}
.link:hover {
    opacity: 0.7;
}

.link{
    width: 30px;
    height: 30px;
}
.row{
    width: 980px;
    margin: auto;
}
.row>.column.onetwo{
    float: left;
    margin-top: 10px;
}
.row>.column.threefour{
    float: right;
    margin-top: 10px;
}
.row>.column:nth-of-type(-n+2) {
    padding-right: 10px;
}
.row>.column:nth-of-type(n+2) {
    padding-right: 10px;
}
.row>.column:hover{
    opacity: 90%;
}
img:hover{
    opacity: 90%;
}
.center{
    padding-top: 75px;
    display: inline-block;
    width: 980px;
    text-align: center;
}
#fcf-form {
    display:block;
    padding-top: 220px;
}

.fcf-body {
    width: 470px;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;

    border-radius: 0.25rem;
    max-width: 85%;
}
.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 89%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    height: 50px;
    margin-bottom: 10px;

}

label.fcf-label {
    display: inline-block;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    /*line-height: 1;*/
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #DD356E;
    border-color: #DD356E;
}

.fcf-btn-primary:hover {
    color: whitesmoke;
    background-color: #da5a85;
    border-color: #da5a85;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 90%;
    alignment: center;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 85%;
}